* {
    box-sizing: border-box;
}

#logo{
    width: 40px;
    height: 40px;
}

.background-color{
    background-color: #17203C !important;
}

#name-logo{
    vertical-align: middle;
}

img.img-fluid{
    box-shadow: 5px 5px 5px grey;
}

p, h1, h2, h3, h4, h5 , h6, ul, li{
    font-family: 'Courier New', Courier, monospace;
}

.icon{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

@media (min-width: 768px) 
{
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-position: inside;
      }
}