* {
    box-sizing: border-box;
}

.background-style{
    background-color: #17203C !important;
}

.mainImage {
    box-shadow: 10px 10px 5px grey;
}

.myNavBar{
    text-align: right;
}

.icon{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}